.rose{
  background-color: $rose;
  color: $white;
  padding: 60px 0;
  text-align: center;
  h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    width: calc(100% - 120px);
    margin-left: 60px;
    margin-top: 0;
    margin-right: 60px;
  }
  &__description{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
  }
}
