.grey {
  padding: 20px 0;
  font-family: 'Outfit', sans-serif;
  @include media576{
    padding: 24px 0;
  }

  .container {
    width: 1444px;
    padding: 0;
    @include media992 {
      width: 100%;

    }
    @include media576 {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include media576{
      flex-direction: column;
      gap: 4px;
      margin: 0 25px;
    }

    .item1 {
      background: #D9D8FF url("data:image/svg+xml,%3Csvg width='70' height='102' viewBox='0 0 70 102' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='56' cy='56' r='55.5' stroke='%23646464'/%3E%3Cpath d='M23.7574 27.5797C21.4946 21.5396 14.4042 23.3007 11.34 23.0719C-6.99997 47 4.00543e-05 84 17.5766 91.7534C21.6385 93.0995 27.2929 84.0099 20.2218 81.8036C0.422838 75.6262 14.1683 60.2353 11.3399 56.117C8.51149 51.9987 9.61787 35.8163 21.6387 41.3073C33.5481 46.7474 16.3069 47.4716 29.0513 53.4918C29.2755 53.5977 29.5614 53.6171 29.7974 53.5413C53.3159 45.9954 40.0122 35.1189 37.9022 33.0707C35.7808 31.0116 26.5858 35.1299 23.7574 27.5797Z' stroke='%23646464'/%3E%3Cpath d='M62.2489 53.6621C71.8887 55.486 108.29 33.0707 105.97 53.6621C105.838 61.9174 103.805 77.3728 93.9401 86.6625C93.4687 85.9761 82.3059 85.3728 78.9118 85.9219C74.6692 86.6083 83.1545 92.7857 76.0834 91.413C69.0123 90.0402 61.6969 82.7273 64.5253 80.6681C67.3537 78.609 70.3092 78.6284 70.3092 75.1966C70.3092 71.7647 56.8134 77.0204 56.8134 73.3727C56.8134 71.2518 47.2996 50.8337 62.2489 53.6621Z' stroke='%23646464'/%3E%3Cpath d='M28.2181 68.571C27.6073 66.5139 25.9277 67.1425 25.1642 67.7139C24.1462 67.7139 21.8048 67.8853 20.5833 68.571C19.0563 69.4282 22.1102 70.2852 23.6372 70.2852C25.1642 70.2852 26.6912 71.9995 27.4547 71.9995C28.2181 71.9995 28.9816 71.1425 28.2181 68.571Z' stroke='%23646464'/%3E%3Cpath d='M20.5833 64.2852C19.8184 65.1424 9.99976 75.9995 12.0023 63.9995C12.0023 61.4281 21.3481 59.9995 22.1116 59.9995C22.8751 59.9995 21.3481 63.4281 20.5833 64.2852Z' stroke='%23646464'/%3E%3Cpath d='M35.8544 65.9995C36.6179 65.1424 34.3274 64.2852 31.2735 64.2852C29.7465 65.1424 32.8004 67.7139 33.5639 67.7139C34.3273 67.7139 35.0907 66.8568 35.8541 65.9998L35.8544 65.9995Z' stroke='%23646464'/%3E%3Cpath d='M66.1794 99.9242C65.6607 100.641 63.3895 101.163 61.8123 101.377C61.2712 100.159 65.9765 97.5828 66.6743 97.2729C67.3721 96.9631 66.698 99.2076 66.1794 99.9242Z' fill='%23646464'/%3E%3Cpath d='M80.497 94.5386C81.0144 93.8226 78.7406 94.346 75.9495 95.5855C74.7343 96.6114 78.0666 96.5905 78.7644 96.2807C79.4621 95.9708 79.9794 95.2548 80.4968 94.5389L80.497 94.5386Z' fill='%23646464'/%3E%3Cpath d='M35.2875 18.4213C34.7831 19.9425 27.9765 16.5403 25.4546 15.2726C30.1531 8.04473 44.7589 5.09082 45.8182 5.09082C45.8182 6.35848 55.4625 11.4492 47.2664 15.2522C46.1215 15.7834 44.7445 15.886 41.5922 15.2522C38.4399 14.6184 35.918 16.5199 35.2875 18.4213Z' stroke='%23646464'/%3E%3C/svg%3E%0A") no-repeat right bottom;
    }
    .item2 {
      background: #D9D8FF url("data:image/svg+xml,%3Csvg width='102' height='94' viewBox='0 0 102 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='61.0708' width='33.7641' height='44.4286' rx='9.5' stroke='%23646464'/%3E%3Crect x='37.6011' y='38.356' width='28.7978' height='67.1429' rx='9.5' stroke='%23646464'/%3E%3Crect x='69.7358' y='0.5' width='33.7641' height='105' rx='9.5' stroke='%23646464'/%3E%3C/svg%3E%0A") no-repeat right bottom;
    }
    .item3 {
      background: #D9D8FF url("data:image/svg+xml,%3Csvg width='47' height='78' viewBox='0 0 47 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6429 61.789V61.5333L14.4355 61.3836C6.02867 55.3151 0.5 45.3273 0.5 33.95C0.5 15.4917 15.0923 0.5 33 0.5C50.9077 0.5 65.5 15.4917 65.5 33.95C65.5 45.3273 59.9713 55.3151 51.5645 61.3836L51.3571 61.5333V61.789V72.75C51.3571 75.1548 49.4463 77.1 47.1429 77.1H18.8571C16.5537 77.1 14.6429 75.1548 14.6429 72.75V61.789Z' stroke='%23646464'/%3E%3C/svg%3E%0A") no-repeat right bottom;
    }
    .item4 {
      background: #D9D8FF url("data:image/svg+xml,%3Csvg width='70' height='97' viewBox='0 0 70 97' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.6892 63.9624C26.6892 71.1021 20.832 76.8999 13.5946 76.8999C6.35715 76.8999 0.5 71.1021 0.5 63.9624C0.5 56.8227 6.35715 51.0249 13.5946 51.0249C20.832 51.0249 26.6892 56.8227 26.6892 63.9624Z' stroke='%23505050'/%3E%3Cpath d='M47.353 90.8375C47.353 96.1961 42.9566 100.55 37.5211 100.55C32.0856 100.55 27.6892 96.1961 27.6892 90.8375C27.6892 85.4789 32.0856 81.125 37.5211 81.125C42.9566 81.125 47.353 85.4789 47.353 90.8375Z' stroke='%23505050'/%3E%3Cline x1='13.6384' y1='51.6001' x2='13.6384' y2='9.91605e-05' stroke='%23505050'/%3E%3Cline x1='13.6384' y1='129' x2='13.6384' y2='77.4' stroke='%23505050'/%3E%3Cline x1='37.5649' y1='80.625' x2='37.5649' y2='2.16031e-08' stroke='%23505050'/%3E%3Cpath d='M69.1042 38.1625C69.1042 32.8039 64.7078 28.45 59.2723 28.45C53.8368 28.45 49.4404 32.8039 49.4404 38.1625C49.4404 43.5211 53.8368 47.875 59.2723 47.875C64.7078 47.875 69.1042 43.5211 69.1042 38.1625Z' stroke='%23505050'/%3E%3Cline y1='-0.5' x2='80.625' y2='-0.5' transform='matrix(-4.42224e-08 1 1 4.32063e-08 59.8162 48.375)' stroke='%23505050'/%3E%3Cline y1='-0.5' x2='29.025' y2='-0.5' transform='matrix(5.12243e-08 1 1 -3.73004e-08 59.8162 0)' stroke='%23505050'/%3E%3C/svg%3E%0A") no-repeat right bottom;
    }
    .item5 {
      background: #D9D8FF url("data:image/svg+xml,%3Csvg width='99' height='65' viewBox='0 0 99 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.615067 63.6809C0.438831 63.8935 0.468305 64.2087 0.680897 64.3849C0.89349 64.5612 1.2087 64.5317 1.38493 64.3191L0.615067 63.6809ZM32.1523 26.4211L32.5254 26.0882L32.1384 25.6544L31.7674 26.1019L32.1523 26.4211ZM56.3113 53.5L55.9382 53.8329L56.3383 54.2813L56.7065 53.8063L56.3113 53.5ZM97.496 0.93713C97.4613 0.66318 97.2111 0.469246 96.9371 0.503968L92.4729 1.0698C92.1989 1.10452 92.005 1.35475 92.0397 1.6287C92.0744 1.90265 92.3246 2.09658 92.5986 2.06186L96.5668 1.5589L97.0698 5.52715C97.1045 5.80111 97.3548 5.99504 97.6287 5.96032C97.9027 5.92559 98.0966 5.67537 98.0619 5.40141L97.496 0.93713ZM1.38493 64.3191L32.5373 26.7402L31.7674 26.1019L0.615067 63.6809L1.38493 64.3191ZM31.7792 26.7539L55.9382 53.8329L56.6844 53.1671L32.5254 26.0882L31.7792 26.7539ZM56.7065 53.8063L97.3952 1.30629L96.6048 0.693708L55.9161 53.1937L56.7065 53.8063Z' fill='%23646464'/%3E%3C/svg%3E%0A") no-repeat 97% 97%;
    }
    .item6 {
      background: #D9D8FF url("data:image/svg+xml,%3Csvg width='70' height='96' viewBox='0 0 70 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M94.5 20.4211H78.75V10.2105C78.75 4.54368 74.0775 0 68.25 0H36.75C30.9225 0 26.25 4.54368 26.25 10.2105V20.4211H10.5C4.6725 20.4211 0 24.9647 0 30.6316V86.7895C0 92.4563 4.6725 97 10.5 97H94.5C100.327 97 105 92.4563 105 86.7895V30.6316C105 24.9647 100.327 20.4211 94.5 20.4211ZM27.375 9.99314C27.375 5.02257 31.4044 0.993135 36.375 0.993135H68.625C73.0433 0.993135 76.625 4.57486 76.625 8.99314V20.4211H27.375V9.99314ZM99 95.5L9.34301 95.5C4.98652 95.5 1.43091 92.0142 1.34459 87.6585L1.125 76.5789H99.875L99 95.5ZM100.875 75.6979H1.125V30.4142C1.125 25.4436 5.15444 21.4142 10.125 21.4142H26.25V40.8421H27.375V21.4142H76.625V40.8421H78.75V22.4142H95.875C98.6364 22.4142 100.875 24.6528 100.875 27.4142V75.6979Z' fill='%23646464'/%3E%3C/svg%3E%0A") no-repeat right bottom;
    }

    &-item {
      width: calc(33% - 10px);
      padding: 24px 70px;
      border-radius: 20px;
      @include media576{
        width: 100%;
        padding: 7px 16px;
        background-size: 58px;
      }

      &-title {
        color: #505050;
        font-family: 'Outfit', sans-serif;
        padding-bottom: 24px;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 92%;
        @include media576{
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 92%;
          padding-bottom: 4px;
        }
      }

      &-desc {
        color: #505050;
        font-family: 'Outfit', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        @include media576{
          font-size: 10px;
          font-style: normal;
          font-weight: 300;
          line-height: 100%;
          width: 160px;
        }
      }
    }
  }
}
