.blackright {
  background-color: rgb(27, 27, 30);
  padding: 80px 0;
  color: $white;

  &__inner {
    display: flex;
    flex-wrap: wrap;

    &-left {
      width: 50%;
      padding-right: 20px;

      h2 {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.2;
        max-width: 388px;
      }
    }

    &-right {
      width: 50%;
      display: flex;
      flex-wrap: wrap;

      &-item {
        width: 50%;
        padding: 0 20px 40px 0;
        .item-title {
          font-size: 18px;
          font-weight: 600;
          line-height: 1;
          padding-bottom: 10px;

          span {
            margin-top: 10px;
            display: block;
            font-size: 28px;
            font-weight: 600;
          }
        }

        .item-description {
          font-size: 18px;
          font-weight: 400;
          line-height: 1.3;
        }
      }
    }
  }
}
