.leftphoto {
  background-color: rgb(245, 245, 245);
  padding: 60px 0;
  color: $default;

  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    span {
      background: linear-gradient(to top, rgb(255, 222, 46) 40%, transparent 40%);
      display: inline-block;
      line-height: 1;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;


    &-left, &-right {
      width: calc(50% - 20px);

      h3 {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.3;
        span {
          background: linear-gradient(to top, rgb(255, 222, 46) 40%, transparent 40%);
          display: inline-block;
          line-height: 1;
        }
      }
    }

    &-left {
      margin-right: 20px;
      text-align: center;

      &-image {
        text-align: center;

        img {
          max-width: 492px;
        }
      }
    }

    &-right {
      margin-left: 20px;
      max-width: 576px;

      &-description {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;

        ul {
          padding: 0;
        }

        li {
          list-style-image: none;
          list-style-type: none;
          padding-left: 30px;
          padding-bottom: 24px;
          vertical-align: middle;
          background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9497 15.1212C16.3974 15.1212 15.9497 14.6735 15.9497 14.1212L15.9497 9.46437L7.75728 17.6568C7.36675 18.0473 6.73359 18.0473 6.34306 17.6568C5.95254 17.2662 5.95254 16.6331 6.34306 16.2425L14.5355 8.05016L9.8786 8.05016C9.32631 8.05016 8.8786 7.60245 8.8786 7.05016C8.8786 6.49788 9.32631 6.05016 9.8786 6.05016L16.9497 6.05016C17.2149 6.05016 17.4692 6.15552 17.6568 6.34305C17.8443 6.53059 17.9497 6.78494 17.9497 7.05016L17.9497 14.1212C17.9497 14.6735 17.502 15.1212 16.9497 15.1212Z' fill='%23615CFF'/%3E%3C/svg%3E") no-repeat 0% 0%;

        }
      }
    }

  }
}
