.case {
  color: $default;
  text-align: center;
  padding-top: 50px;

  h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1;
    position: relative;
    z-index: 3;

    &:after {
      background-color: rgb(255, 222, 46);
      content: "";
      height: 12px;
      display: block;
      width: 242px;
      margin: 0 auto;
      position: absolute;
      z-index: 2;
    }
  }

  &__three {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 33%;

      &-image {
        img {
          border-radius: 20px;
        }
      }
    }
  }
}
