.photos {
  padding: 144px 0;
  font-family: 'Outfit', sans-serif;
  @include media576 {
    padding: 48px 0 24px;
  }

  .container {
    width: 1444px;
    padding: 0;
    @include media992 {
      width: 100%;
      padding: 0 25px;
    }
    @include media576 {
      width: 100%;
      padding: 0 25px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media576 {
      align-items: center;
      img {
        width: 100%;
        max-width: 25px;
        height: auto;
      }
      svg {
        height: 33px;
        width: 1px;
      }
    }

  }
}
