.headerinner {
  padding: 10px 0;
  background-color: $rose;
  font-family: 'Outfit', sans-serif;
  @include media576 {
    padding: 4px 0;
  }

  .container {
    display: flex;
    width: 1444px;
    align-items: center;
    justify-content: end;
    padding: 0;
    gap: 20px;
    position: relative;
    @include media768 {

      width: 100%;
      padding: 0 25px;
    }
    @include media992 {
      width: 100%;
      padding: 0 25px;
    }
    @include media576 {
      width: 100%;
      padding: 0 25px;
    }
  }

  &__logo {
    display: flex;
    position: absolute;
    left: 0;
    @include media576 {
      left: 25px;
      z-index: 9;
    }

    span {
      font-size: 31px;
      font-weight: 700;
      color: rgba(97, 92, 255, 1);
      margin-left: 8px;
      @include media576 {
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 11.4px;
        margin-left: 2px;
      }
    }

    img {
      max-width: 160px;

      @include media576 {
        max-width: 11px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    @include media768 {
      position: absolute;
      z-index: 500;
      background: #fff;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 340px;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      transform: translateX(calc(100% + 10px));
      transition: .3s;
      display: none;

      &_active {
        transform: translateX(0);
        display: block;
      }
    }

    li {
      margin: 0 17px;
      list-style: none;

      @include media768 {
        margin: 15px 0;
      }
    }

    a {
      font-weight: 500;
      color: $white;
      text-decoration: none;
      transition: .3s;
      font-size: 18px;
      font-style: normal;
      line-height: normal;

      &:hover {
        color: rgba(97, 92, 255, 1);
      }

      &.current {
        color: $orange;
        font-weight: 700;
      }
    }
  }

  &__button {
    text-decoration: none;
    color: $white;
    line-height: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(97, 92, 255, 1);
    border-radius: 5px;
    background-color: rgb(97, 92, 255);
    min-width: 130px;
    text-align: center;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 30px;
    font-family: 'Outfit', sans-serif;

    &:hover {
      background: rgba(97, 92, 255, 0.95);
    }

    @include media768 {
      margin: 0 18px 0 auto;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 20px;
    height: 14px;
    cursor: pointer;
    z-index: 700;


    @include media768 {
      display: block;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $white;
      transition: .3s;

      &:nth-child(1) {
        transform: translate(-50%, calc(-50% - 7px));
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        transform: translate(-50%, calc(-50% + 7px));
      }
    }

    &_active {
      span {
        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }

  .new_style {
    border-radius: 34px;
    border: 1px solid #F0F0F6;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    color: $white;
    font-size: 0px;
    letter-spacing: 0;
    padding: 10px 30px;
    font-family: 'Outfit', sans-serif;
    @include media576 {
      display: none;
    }
  }

  .new_blue {
    border-radius: 34px;
    background: #817DFF;
    box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 13px 30px;
    border: 1px solid #817DFF;
    letter-spacing: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    @include media576 {
      display: none;
    }
  }
}
